page-login {

    .back_img{
        -webkit-box-shadow: inset -352px 0px 21px 45px rgba(50, 48, 50, 0.88);
        -moz-box-shadow:    inset -352 0px 21px 45px rgba(50, 48, 50, 0.88);
        box-shadow:         inset -352px 0px 21px 45px rgba(50, 48, 50, 0.88);
    }

    .background_div{
        width: 100%;
        background-color: white;
    }
    .img_set{
        height: 75px;
        margin: auto;
        display: table;
    }
    .register{
        color:#ffffff;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        margin-top: 40px;
    }
    .all_col_padding{
        padding: 0px;
    }
    .div_set{
        width: 90%;
        margin: auto;
        margin-top: 25px;
    }
    .txtbox{
        margin: auto;
        background-color: #ffffff;
        margin-top: 15px;
        width: 100%;
        height: 40px;
        border-radius: 5px;
        font-size: 16px;
        border: 1px solid #CA37C0;
        padding-left: 10px;
        }
    .chkbox{
        border: 1px solid #ffffff;
        }
    .remember{
        color: white;
        font-size: 18px;
        font-weight: 500;
    }
    .forgot_pwd{
        color: white;
        font-size:18px;
        font-weight: 300;
        text-align: right;
        background-color: transparent;
        margin-top: 15px
    }
    .button-md{ 
        margin-top: 15px;
        width: 100%;
        height: 40px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        border-color: #c22e5e;
        background: linear-gradient(#a32d66, #c22e5e);
            // background-color: #BB3161;
        }

        // .item:hover{
        //     color: red !important;
        // }
        .item-md.item-block .item-inner{
            border-bottom: none !important;
        }
        
        
}
