page-booking-ticket {
    .fixed-content,
    .scroll-content {
        margin-top: 0 !important;
    }
    .toolbar-background-md {
        background: transparent;
    }
    .div_images {
        position: relative;
        box-shadow: 0px 20px 21px -8px rgba(221,221,221,1);
    }
    .back-button.show-back-button {
        color: #fff;
    }
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after {
        background: none;
    }
    .div_images > div.wall::before {
        content: "";
        /* color: #000; */
        width: 100%;
        height: 350px;
        z-index: 100;
        background: rgba(0, 0, 0, 0.4);
        top: 0;
        left: 0;
        position: absolute;
    }
    .img_set {
        height: 350px;
        width: 100%;
        margin: auto;
        display: table;
        object-fit: cover;
        object-position: top;
    }
    .movie_title {
        position: absolute;
        top: 45%;
        font-weight: bold;
        // text-shadow: 1px 1px 0px #ffffff;
        // margin-left: 8px;
        color: #fff;
        z-index: 101;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        color: #fff;
        text-align: center;
        vertical-align: middle;
    }
    .movie_title>h1,
    .movie_title>h6 {
        margin: 0;
    }
    .movie_title .inner {
        // line-height: 235px;
    }
    .movie_title>h1 {        
        font-size: 3em !important;
        text-transform: uppercase;
    }
    .movie_title>h6 {
        font-weight: 400;
    }
    // .card-subtitle1 {
    //     font-size: 1.0em;
    //     position: absolute;
    //     top: 84%;
    //     border: none;
    //     width: 63%;
    //     height: 12%;
    //     color: white;
    //     font-weight: 900;
    //     border-radius: 20px;
    //     background-color: #939393;
    //     margin-left: 20px;
    // }
    .movie_header {
        // text-align: center;
        // background-color: #F2f7F8;
    }
    .movie_header>button {
        padding: 7px;
        width: auto;
        height: auto;
        border-radius: 4px;
    }
    .movierelease_title {
        font-size: 17px;
        font-weight: 800;
        margin-left: 3px;
    }
    .moviereleaseDate {
        margin-left: 3px;
    }
    .formate_2d {
        width: 30px;
        text-align: center;
        border-radius: 5px;
        margin-bottom: 5px;
        border: 1px solid black;
        margin-left: 12px;
        line-height: 1.5;
    }
    //   .movierelease_title1{
    //     font-size: 17px;
    //     font-weight: 800;
    //     margin-left: 8px;
    //     margin-top: 10px;
    // }
    .movierelease_title1 {
        font-size: 17px;
        font-weight: 800;
        margin-left: 12px;
        line-height: 1.5;
    }
    .moviedescription {
        line-height: 1.5;
        font-size: 1.4rem;
    }
    .chip-md {
        margin-top: 5px;
        margin-left: 3px;
    }
    .date_list {
        width: 90%;
        margin: auto;
        display: table;
        background-color:transparent;
    }
    .tamil {
        background-color: transparent;
        font-weight: 900;
        border: 1px solid white;
        border-radius: 20px;
        height: 23px;
        margin-top: -10px;
    }
    .tamil1 {
        background-color: transparent;
        font-weight: 900;
        border: 1px solid white;
        border-radius: 20px;
        height: 23px;
        // margin-top: -5px;
    }
    .picture {
        display: block;
        width: 100%;
        height: 40%;           
    }
    .btn_time_schedule {
        height: 60px;
        // width: 50px;
        margin-left: 10px;
        background-color: #F6F6F6;
        padding: 0px;
        margin-left: 3px;
        width: 40px;
    }
    .datesize {
        font-size: 18px;
        display: block;
        font-weight: bold;
    }
    .day_small {
        font-size: 80%;
        font-weight: 400;
        line-height: 2;
    }
    .movie_name {
        font-size: 20px;
        font-weight: 500;
        padding-left: 10px;
        text-align: center;
        // padding-top: 10px;
    }
    .time_btn {
        padding: 10px;    
        border-color: gray;
    }
    .showdate_time,
    .button-md {
        font-size: 1.1rem;
        display: inline-grid;
        text-align: center;
    }
    .button-md {
        background-color:none;
    }
    .background_grid {
        background-color: #FBECCA;
        margin-top: 10px;
    }
    .all_col_padding {
        padding: 0px;
    }
    .eats_hading {
        color: gray;
    }
    .food {
        color: #FFA340;
    }
    .theatre_title {
        font-weight: 500;
        font-size: 1.6rem;
    }
    .item-md.item-block .item-inner {
        border-bottom: none !important;
    }
    .heart_icon {
        font-size: 22px;
        margin-top: -2px;
    }
    .grid_box {
        margin: 10px 0px;
    }
    .row_style {
        margin-top: 16px;
    }
    .Multiplax_title1 {
        font-weight: 500;
        margin-top: 0px;
        font-size: 16px;
    }
    .item-md {
        padding-left: 0px;
    }
    .scol {
        height: 155px;
        border-radius: 2px;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: block;
        padding: 5px;
        margin: 3px;
        width: 100%;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.36);
    }
    .img-display .img-out {
        display: inline-block;
        width: 25%;
        // padding: 10px;
    }          
    .img-display .img-out img {
        width: 100%;
        height: 100px;
    }
    .col {
        padding: 0px;
    }
}