<ion-header>
    <ion-navbar>
        <!-- <ion-title>{{ MovieName }}</ion-title> -->
    </ion-navbar>
</ion-header>

<ion-content>
    <!-- <div class="div_images"> -->
    <div class="div_images">
        <div class="wall">
            <img src="{{ img }}" class="img_set"/>
        </div>
        <div class="movie_title">
            <h1> {{ MovieName }} </h1>
            <h6>{{ movieduration }}</h6>
            <div *ngFor="let x of genre">
                <ion-list>{{ x }}</ion-list>
            </div>
        </div>
        <!-- <button ion-button class="card-subtitle1">{{MovieLanguage}} | {{MovieGenre}}</button> -->
    </div>

    <div class="p20 pt0">
        <div class="movie_header">
            <h1> {{ MovieName }} </h1>
            <div class="release_date">
                {{ moviereleaseDate }} | {{ language }} {{ moviedetailid }}
            </div>
            <button ion-button class="btn-primary">{{ Certification }} </button>            
            <button ion-button class="btn-primary"> {{ movieformat }} </button>            
        </div>

        <hr class="hr_line">
        <!-- ---one page to other page image send---- --> 
        <!-- <img src="assets/imgs/{{img}}" class="picture back_img">
        <div class="movie_name">{{name}}</div> -->
        <!-- <div class="movierelease_title1">SYNOPSIS:</div> -->
        <div class="moviedescription">
            {{ description }}
        </div>
        
        <hr class="hr_line">
        <ion-row>
            <ion-col *ngFor="let showdate of theatertime" (click)="changeDate(showdate)">
                <div class="showdate_time">
                    <button ion-button  [style.background-color]="getStyle(showdate.selected)">
                        {{ showdate.Date }} <br/>
                        {{ showdate.DayName }}
                    </button>
                </div>
            </ion-col>    
        </ion-row>
        <!-- <div class="img-display" >
            <div class="img-out" *ngFor="let x of [1,2,3,4,5,6,7];let i=index" >
                <button ion-button outline class="time_btn image" (click)="presentPopover($event)">03:15 PM</button>        
            </div>
        </div> -->
        <ion-grid class="grid_box">
            <div *ngFor="let x of desc ">
                <!-- <div class="Multiplax_title" (click)="movie_desc(x.MovieImagePath)"> {{x.TheatreName}} </div> -->
                <!-- <div class="Multiplax_title" (click)="movie_desc(x.TheatreId, x.DateId)"> {{x.TheatreName}} </div> -->
                <div class="theatre_title" (click)="movie_desc(x, x.TheatreId, x.DateId)">
                    {{ x.TheatreName }}                
                    <!-- {{ x.TheatreId }} -->
                </div>
                <div class="img-display">
                    <div class="img-out" *ngFor="let y of x.Screendetail; let i=index" >
                        <button ion-button outline class="time_btn image" (click)="presentPopover(y, x.TheatreId, x)">{{ y.ShowTimig }}</button>
                    </div>
                </div>
                <hr class="hr_line">
            </div>
        </ion-grid>
    </div>
</ion-content>
