page-otpconform {
    .back_img{
        -webkit-box-shadow: inset -352px 0px 21px 45px rgba(50, 48, 50, 0.88);
        -moz-box-shadow:    inset -352 0px 21px 45px rgba(50, 48, 50, 0.88);
        box-shadow:         inset -352px 0px 21px 45px rgba(50, 48, 50, 0.88);
    }
    .img_div{
        width: 100%;
        background-color: white;
    }
    .img_set{
        height: 75px;
        margin: auto;
        display: table;
    }
    .register{
        color:#ffffff;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        margin-top: 40px;
    }
    .syntax{
        width: 94%;
        margin: auto;
        display: table;
        color: white;
        margin-top: 12px;
    }
    .input_div{
        width: 90%;
        margin: auto;
        margin-top: 25px;
    }
        .txtbox{
        
            margin: auto;
            background-color: #ffffff;
            margin-top: 10px;
            width: 100%;
            height: 40px;
            border-radius: 5px;
            font-size: 16px;
            border: 1px solid #CA37C0;
            padding-left: 10px;
        }

        
        .button-md{ 
            
            width: 75%;
            height: 40px;
            border-radius: 5px;
            font-size: 16px;
            font-weight: bold;
            border-color: #c22e5e;
            background: linear-gradient(#a32d66, #c22e5e);
            // background-color: #BB3161;
            margin: auto;
            display: table;
            margin-top: 15px;
        }
}
