page-selectstate {
    .title{
    text-align: left;
     font-size: 18px;
      font-weight: 500;
      letter-spacing: 0;
      color: #333;
      padding: 8px 35px;
    }

    .model_color{
        height: 370px !important;
        width: 95% !important;
        background-color: white;
        margin: auto;
        margin-top: 40%;
        box-shadow: 1px 1px 10px -1px #999999 !important;
        }
        .close_btn{
            text-align: right;
            padding-right: 10px;
            padding-top: 6px;
            font-size: 20px;
            font-weight: 900;
         }
         .submit{
            width: 83%;
            border-radius: 12px;
            margin: auto;
            display: table;
            background: linear-gradient(#a32d66, #c22e5e);
            margin-top: 20px;
            margin-bottom: 10px;
        }
       
}
