page-home{

    .NoData{
        text-align: center;
        margin-top:30px;
        color:grey
    }
    
    .searchbar-md .searchbar-input{
        padding: 6px 40px;
    }
    // .searchbar-md .searchbar-input{
    //     padding: 6px 12px;
    // }
    // .searchbar-md .searchbar-search-icon, .searchbar-md .searchbar-md-cancel{
    //     margin-left: 176px;
    // }
    .searchbar-input-container{
        border: 1px solid #CCD3D9;
        border-radius: 5px;

    }
    .reg{
    
        background-color: white;
        margin-top: 8px;
        width: 100%;
        height: 25px;
        border-radius: 5px;
        font-size: 16px;
        // border: 1px solid #CCD3D9;
        // padding-left: 10px;
        
        margin: 0px;
        // width: 100px;
        border: none;
        padding: 0px;
        max-width: 100%;
    }
    ion-select{
        overflow: visible;
    }
    .item-md{
        padding-left: 0px;
    }
    .item-cover{
        background: transparent;
        cursor: pointer;
        position: inherit;
        width: 0px;
    }
    .input-wrapper{
        border: 1px solid #CCD3D9;
        border-radius: 5px;
    }
    .item-md.item-block .item-inner{
        border-bottom: none; 
    }
    .select-text{
        padding-left: 4px;
        min-width: 83%;
    }
    .ion-slides{
        display: block;
        width: 100%;
        height: 35%;
    }
    .row_margin{
        margin-top: 10px;
    }
    .all_col_padding{
        padding: 0px;
    }
    .movie_heding{
        margin: auto;
        display: table;
        margin-top: 40px;
        font-size: 20px;
        border-bottom: 1px solid #B93162;
        border-bottom-width: unset;
    }
    .tamil{
        background-color: #005569;
        height: 16px;
        width: 20px;
        border-radius: 20px;
        font-size: 12px;
        font-weight: 300;
    }
    .commedy{
        line-height: 26px;
        font-size: 10px;
        font-weight: 500;
    }
    .item_aa{
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        width: 100%;
    }
    .movie_name{
        font-size: 14px;
        margin-top: 4px;
        font-weight: 500;   
        margin-left: 4px;
        text-align: center;
    }
    .star_icon{
        font-size: 20px;
    }
    .star_button{
        background-color: #00CAC2;
        height: 25px; 
        width: 0px;
    }
    .like{
        font-size: 14px;
        margin-left: 3px;
        color: #078225;
        font-weight: 600;
    }
    .images{
        border-radius: 15px;
        padding: 0px 5px;
    }

    .movie_heding2{
        margin: auto;
        display: table;
        margin-top: 40px;
        font-size: 20px;
        // border-bottom: 1px solid #B93162;
        // border-bottom-width: unset;
    }
    .hr_line{
    
        width: 18%;
        height: 3px;
        background-color: #B93162;
        margin-top: 2px;
        
    }

    .movie_name2{
        font-size: 16px;
        font-weight: 500;   
        margin-top: 6px;
        margin-left: 2px;
    }
    .cityname{
        font-size: 20px;
        color: #999;
        text-align: center;
        margin-top: 40%;
        font-weight: 600;
        }

    .scol{
        height: 155px;
        border-radius: 2px;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: block;
        padding: 5px;
        margin: 3px;
        width: 100%;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.36);
    }
    .label-md {
        margin: 9px auto 13px auto;
        text-align: center;
    }
    .swiper-slide img {
        /* width: auto; */
        width: 40%;
    }
    
        .img-display .img-out {
            display: inline-block;
            width: 50%;
            padding: 5px 0px;
          }
          
          .img-display .img-out img {
            width: 100%;
            height: 100px;
          }
} 